* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Blue: #003459
}

body {
  background-color: var(--Blue);
  text-align: center;
  color: white;
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 16px;
}

h1 {
  font-weight: 100;
  font-size: 2.5rem;
  padding: 1rem;
}

.container {
  position: absolute;
  top: 40%; left: 50%;
  transform: translate(-50%, -50%);
}

input {
  padding: 0.25rem 0.5rem;
}

#results {
  background: white;
  margin-top: 1rem;
  color: var(--Blue);
}

#results p {
  padding: 0.5rem;
}

#results p:nth-child(2) {
  padding-top: 0.25rem;
  font-size: 0.85rem;
}